<div class="row my-5">
    <div class="col">
        <%-include("book/list_book.ejs")%>  <!--도서목록-->
        <%-include("book/best_book.ejs")%>  <!--베스트도서목록-->
        <%-include("book/recent_book.ejs")%>  <!--최근도서목록-->
    </div>
</div>