<div class="row my-5">
    <div class="col">
        <h1 class="text-center mb-5">글정보</h1>
        <div class="text-end mb-2" id="btn-group" style="display:none">
            <button class="btn btn-primary btn-sm" id="btn-update">수정</button>
            <button class="btn btn-danger btn-sm" id="btn-delete">삭제</button>
        </div>
        <div id="post"></div>
    </div>
</div>
<%-include("chat.ejs")%>

<!--게시글정보 템플릿-->
<script id="temp" type="text/x-handlebars-template">
    <div class="card">
        <div class="card-body">
            <h5>{{ title }}</h5>
            <div>{{ body }}</div>
        </div>
        <div class="card-footer">
            Posted on <span>{{ date }}</span> by <span>{{ email }}</span>
        </div>
    </div>
</script>

<script type="module">
    import { app } from "/javascripts/firebaseInit.js";
    import { getFirestore, doc, getDoc, deleteDoc } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js";
    const db = getFirestore(app);
    const id="<%=id%>";

    const snapshot = await getDoc(doc(db, "posts", id));
    const post=snapshot.data();
    let temp=Handlebars.compile($("#temp").html());
    $("#post").html(temp(post));

    if(sessionStorage.getItem("email") == post.email){
        $("#btn-group").toggle();
    }

    //게시글삭제
    $("#btn-delete").on("click", async function(){
        if(confirm(id + "번 게시글을 삭제하실래요?")) {
            await deleteDoc(doc(db, `posts/${id}`));
            location.href="/posts";
        }
    });

    //게시글수정
    $("#btn-update").on("click", function(){
        location.href="/posts/update/" + id;
    });
</script>