<div class="row my-5">
    <div class="col">
        <h1 class="text-center mb-5">글쓰기</h1>
        <form name="frm" method="post">
            <input class="form-control my-2" name="title" placeholder="제목을 입력하세요.">
            <textarea class="form-control" name="body" rows="10" placeholder="내용을 입력하세요."></textarea>
            <div class="text-center my-2">
                <button class="btn btn-primary">글등록</button>
                <button class="btn btn-secondary" type="reset">등록취소</button>
            </div>
        </form>
    </div>
</div>

<!-- 날짜포맷 지정함수 -->
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
<script type="module">
    import { app } from "/javascripts/firebaseInit.js";
    import { getFirestore, collection, addDoc } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js";
    const db = getFirestore(app);

    $(frm).on("submit", async function(e) {
        e.preventDefault();
        let title=$(frm.title).val();
        let body=$(frm.body).val();
        if(title=="" || body=="") {
            $("#modal-alert .modal-body").html("제목 또는 내용을 입력하세요!");
            $("#modal-alert").modal("show");
        }else{
            let date=moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
            let email=sessionStorage.getItem("email");

            await addDoc(collection(db, "posts"), { email: email, title: title, body: body, date: date });
            location.href="/posts";
        }
    });
</script>